@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@500;700&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    padding-top: 80px
}


header{
    width: 100%;
    position: fixed;
    top: 0;
}

.nav_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272727;

}

.nav_header li{
    display: inline-block;
    padding: 10px;
    padding-left: 25px;
}

.nav_header ul{
    list-style: none;
    padding: 15px;



}

.nav_header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: relative;
    transition: all 0.6s;
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 400;
}

.nav_header ul li a:hover{
    background-color: white;
    color:black;
    padding: 15px;
    border-radius: 15px;
    

}


.nav_header .logo2{
    padding-top: 10px;
    padding-left: 25px;
    height: 10vh;
    padding-bottom: 2px;
}


.imagem1{
    text-align: center;
}



/*footer ===============================================*/

footer{
    background-color: #272727;
    bottom: 0;
    position: relative;
    bottom: 0;
    height: 25vh;
    overflow: hidden
}


.redes_sociais{
    width: 100%;
    padding: 70px 30px 20px;
    bottom: 0px;
}


.nav_redes{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav_redes a{
    text-decoration: none;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 6px;
    position: relative;
    margin-top: 5px;
}

.nav_redes a i{
    font-size: 2em;
    color: #272727;
    opacity: 0.9;
}



.nav_redes a:hover{
    background-color:black;
    transition: all 0.1s;

}

.nav_redes a i:hover{
    transition: all 0.5s;
}
    /*altera o título redes sociais*/
.redes_sociais .titulo_redes{
    text-align: center;
    position: relative;
    margin-top: -50px;
    top: -5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.footer_creater{
    color: aliceblue;
    background-color:black;
    padding: 10px;
    width: 100vw;
    position: relative;
    bottom: -23px;
    right: 30px;
    text-align: center; 
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 13px;
   

}
